<a href="https://colab.research.google.com/github/AdrianCPC/DS_Students_data_01/blob/main/Capitulo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

#Creando nombres

In [5]:
nombres_m = pd.read_json('https://servicodados.ibge.gov.br/api/v1/censos/nomes/ranking/?sexo=M&qtd=200')
nombres_f = pd.read_json('https://servicodados.ibge.gov.br/api/v1/censos/nomes/ranking/?sexo=F&qtd=200')

In [6]:
type(nombres_m)

pandas.core.frame.DataFrame

In [11]:
print("Cantidad de nombres :"+ str(len(nombres_m)+len(nombres_f)))

Cantidad de nombres :400

###Union de los dos dataframes

In [7]:
frames = [nombres_m, nombres_f]
frames

[          nome  regiao     freq  rank sexo
 0         JOSE       0  5732508     1    M
 1         JOAO       0  2971935     2    M
 2      ANTONIO       0  2567494     3    M
 3    FRANCISCO       0  1765197     4    M
 4       CARLOS       0  1483121     5    M
 ..         ...     ...      ...   ...  ...
 195     WALTER       0    67207   196    M
 196    ARLINDO       0    66669   197    M
 197    MICHAEL       0    65736   198    M
 198     ALVARO       0    65444   199    M
 199    GEOVANE       0    65435   200    M

 [200 rows x 5 columns],
           nome  regiao      freq  rank sexo
 0        MARIA       0  11694738     1    F
 1          ANA       0   3079729     2    F
 2    FRANCISCA       0    721637     3    F
 3      ANTONIA       0    588783     4    F
 4      ADRIANA       0    565621     5    F
 ..         ...     ...       ...   ...  ...
 195     ROSANE       0     82203   196    F
 196    IVONETE       0     81878   197    F
 197    LUCIANE       0     81230   198    F
 198    ISADORA       0     81100   199    F
 199      NILZA       0     80128   200    F

 [200 rows x 5 columns]]

###Union por concatenacion y conversion de la serie en dataframe  mas cambio de nombre de la columna

In [9]:
nombres = pd.concat(frames)['nome'].to_frame()
nombres.columns = ['nombre']
nombres.sample(5)

       nombre
198    ALVARO
49       ALEX
174     DENIS
45    ADRIANO
171  VALDEMIR

#Inlcuyendo ID Alumnos

In [ ]:
nombres.sample(5)

In [12]:
import numpy as np

In [13]:
np.random.seed(123)

In [15]:
total_alumnos = len(nombres)
total_alumnos

400

In [16]:
nombres['id_alumno'] = np.random.permutation(total_alumnos)+1
nombres.sample(5)

       nombre  id_alumno
188  VALDECIR        369
57       IGOR        303
3     ANTONIA        382
182   LIDIANE         33
30     ELIANE        111

##Adicion de email

In [17]:
dominios = ['@dominiodeemail.com','@serviciodeemail.com']

In [18]:
nombres['dominio'] = np.random.choice(dominios, total_alumnos)
nombres.sample(5)

       nombre  id_alumno               dominio
84     FATIMA         78   @dominiodeemail.com
0       MARIA        331  @serviciodeemail.com
179   LILIANE        340   @dominiodeemail.com
10       LUIS        174   @dominiodeemail.com
171  VALDEMIR         45   @dominiodeemail.com

##Agregando usuario

In [19]:
nombres['email'] = nombres.nombre.str.cat(nombres.dominio).str.lower()
nombres.sample(5)

       nombre  id_alumno               dominio                        email
114      ELZA        320   @dominiodeemail.com      elza@dominiodeemail.com
57       IGOR        303  @serviciodeemail.com     igor@serviciodeemail.com
85   FABRICIO        221   @dominiodeemail.com  fabricio@dominiodeemail.com
183    MARLON          8   @dominiodeemail.com    marlon@dominiodeemail.com
189    WESLEI        137   @dominiodeemail.com    weslei@dominiodeemail.com

En esta aula, aprendimos:

A leer un json con la función read_json() para buscar los nombres de los alumnos y alumnas.

A juntar los nombres masculinos y femeninos con la función concat() y transformarlos en un nuevo DataFrame con el comando to_frame().

A insertar un id para identificar mejor a cada persona.

#Creando cursos

In [20]:
import html5lib

In [21]:
url = 'https://www.tiobe.com/tiobe-index/'

In [24]:
cursos = pd.read_html(url)
cursos = cursos[2].iloc[:,:1]
cursos.head()

  Programming Language
0               Python
1                    C
2                 Java
3                  C++
4                   C#

In [25]:
type(cursos)

pandas.core.frame.DataFrame

#Adicionando Index

In [27]:
cursos = cursos.rename(columns={'Programming Language': 'nombre_curso'})

In [29]:
cursos['id'] = cursos.index + 1
cursos

         nombre_curso  id
0              Python   1
1                   C   2
2                Java   3
3                 C++   4
4                  C#   5
5        Visual Basic   6
6          JavaScript   7
7                 SQL   8
8   Assembly language   9
9                 PHP  10
10        Objective-C  11
11                Ada  12
12               Lisp  13
13             Pascal  14
14     (Visual) Basic  15

In [30]:
cursos = cursos.set_index('id')
cursos.head()

   nombre_curso
id
1        Python
2             C
3          Java
4           C++
5            C#

In [31]:
cursos.shape

(15, 1)

En esta aula, aprendimos:

A leer una tabla de una página html con la función read_html(), pasando la url como parámetro para buscar los nombres de los cursos.

A transformar el resultado de esta función en un DataFrame con el código cursos = cursos[0].

A crear un ID para cada curso y a configurar el index para que sea el ID con el código cursos = cursos.set_index('id').